extends ./_base

block content
  .main

    .content
      h3.content__title Pengembalian Produk
      .content__text
        p Kami berusaha untuk selalu menjaga kualitas produk kami, tetapi tentunya terkadang ada saja produk yang cacat atau tidak standar yang lolos dari pengawasan kami. Apabila Anda mendapatkan produk yang cacat atau tidak sesuai pesanan kami dengan senang hati akan menerima pengiriman kembali dari Anda.
        .headsup
          p Setelah produk yang diretur kami terima, Anda akan mendapatkan voucher belanja senilai harga produk.
        h4 Proses pengembalian Produk
        ol
          li
            p Foto produk yang ingin Anda retur.
            p
              img(src="http://dummyimage.com/300x225/000/ffffff&text=contoh+foto+produk", alt="")
          li
            p Foto resi pengiriman produk, kami akan mengganti biaya pengiriman dengan voucher belanja senilai ongkos kirim balik.
            p
              img(src="http://dummyimage.com/300x225/000/ffffff&text=contoh+foto+resi", alt="")
          li
            p Kirimkan ke alamat berikut: <strong>Jl Gagak 70, Jakarta Pusat</strong>
          li
            p Setelah produk dikirim, silakan mengisi formulir pengembalian produk dengan mengklik tombol di bawah ini.
        p
          a.btn.btn--block(href="step1.html") Isi Form Pengembalian Produk
