extends ./_base

block title
  | Step 1

block content
  .main

    .content
      h3.content__title Data Anda
      form.form
        .form__row
          label.form__label(for="field1") Nomor Telepon atau Email
          input.form__field#field1(type="text" placeholder="081234567890 atau nama@domain.com")
        .form__row
          a.btn.btn--block(href="step2.html") Kirim
