extends ./_base

block title
  | Verifikasi

block content
  .main

    .content
      .content__text
        p Silakan cek email/SMS verifikasi dari kami. Langkah ini diperlukan untuk menjaga keamanan data Anda.
        p
          | Belum menerima verifikasi?
          a(href="#") Klik disini untuk mengirim data kembali.
        .headsup
          p NOT PART OF THE DESIGN! this is used to navigate to next page
          a.btn.btn--block(href="step2.html") Process to next step
